.Resources {
    display: inline;
    margin: 0 auto;
}

ul {
  list-style-position: inside;
  line-height: 30px;
}

ul.a {
    margin-left: 30px;
    list-style-position: inside;
    line-height: 21px;
  }

li {
  margin-left: 10px;
  text-indent: -1.4em;
  padding-left: 2em;
}
