.YourPosts-avatarContainer {
  padding: 0 45%;
  padding-top: 3%;
}

.YourPosts-avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  /* padding-top: 100%; */

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  /* background-size: cover; */

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* google/mit acc img */
  /* background-image: url("https://static-00.iconduck.com/assets.00/mail-unsubscribe-icon-2048x2048-t7rlwesg.png"); */
}

.YourPosts-name {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  /* align-self: center; */
  /* align-content: center; */
  font-size: 40px;
  font-weight: 300;
}

.YourPosts-congratulatory-message {
  justify-content: center;
}

.YourPosts-line {
  border-color: var(--grey);
}

.YourPosts-subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.YourPosts-subContainer + .YourPosts-subContainer {
  margin-left: var(--m);
}

.YourPosts-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--m) var(--s);
}
